
.login_container{display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
background-image: -webkit-linear-gradient(left, rgb(0,77,204) 0%, rgb(102,204,204) 100%);
background-image: -moz-linear-gradient(left, rgb(0,77,204) 0%, rgb(102,204,204) 100%);
background-image: -o-linear-gradient(left, rgb(0,77,204) 0%, rgb(102,204,204) 100%);
background-image: linear-gradient(to right, rgb(0,77,204) 0%, rgb(102,204,204) 100%);
    }
.login_container .box{width:100%; max-width:555px;}
.login_container .box form{padding:30px; background-color:#fff;}
.login_container .box form .form-control{border-radius:0; height:45px;font-size:14px;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d2d2d2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d2d2d2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d2d2d2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d2d2d2;
}