<!--<div class="sidepanel">
<div class="nav-wrapper">
<ul class="nav">
        <li><a routerLink="/"><i class="fa fa-home"></i> Dashboard</a></li>
        <li class="drop"><a routerLink="/basic-form"><i class="fa fa-edit"></i> Forms </a>
		<ul class="sub-menu">
		<li><a href="basic-form.html">Basic Form</a></li>
		<li><a href="advance-form.html"> Advanced Form</a></li>
		<li><a href="form-wizard.html">Form Wizard</a></li>
		<li><a href="#"> Multiple File Upload</a></li>
		<li><a href="#">Editors</a></li>
		</ul>
		</li>
        <li class="drop"><a href="#"><i class="fa fa-envelope-o"></i> UI Elements</a>
		<ul class="sub-menu">
		<li><a href="typography.html">Typography</a></li>
		<li><a href="#">Navbars</a></li>
		<li><a href="#">Panel &amp; Tabs</a></li>
		<li><a href="#"> Buttons</a></li>
		<li><a href="#">Alerts</a></li>
		<li><a href="#"> Progress Bars</a></li>
		<li><a href="#">Modals</a></li>
		</ul>
		</li>
		<li><a href="#"><i class="fa fa-calendar"></i>Calendar</a></li>
		<li class="drop"><a href="#"><i class="fa fa-toggle-on"></i>Icons</a>
		<ul class="sub-menu" style="display: block;">
		<li><a href="#">Font Awesome</a></li>
		<li><a href="#">Glyph Icons</a></li>
		</ul>
		</li>
        <li class="drop"><a href="#"><i class="fa fa-table"></i> Tables</a>
		<ul class="sub-menu">
		<li><a href="#">Basic Tables</a></li>
		<li><a href="#">Data Tables</a></li>
		</ul>
		</li>
		<li class="drop"><a href="#"><i class="fa fa-send-o"></i> Pages</a>
		<ul class="sub-menu">
		<li><a href="#">Profile</a></li>
		<li><a href="#">Invoice</a></li>
		<li><a href="#">Login</a></li>
		<li><a href="#"> Register</a></li>
		<li><a href="#">Alerts</a></li>
		<li><a href="#"> Progress Bars</a></li>
		<li><a href="#">Modals</a></li>
		</ul>
		</li>
		<li class="drop"><a href="#"><i class="fa fa-map-marker"></i> Maps</a>
		<ul class="sub-menu">
		<li><a href="#">Google Map</a></li>
		<li><a href="#">Vector Map</a></li>
		</ul>
		</li>
      </ul>
</div>
</div>-->