<header id="header">
  <div class="container">
        <div class="header-block d-flex justify-content-start align-items-center">
          <!-- Navbar: Brand -->
          <a class="navbar-brand" href="#">
            <img src="assets/logo.png">
          </a>
      
  <ul class="nav navbar-left">
  <li class="mr-auto">    <!-- Navbar: Toggle menu -->
          <a href="#" class="navbar-toggle-btn">
            <i class="fa fa-bars"></i>
          </a>
		  </li>
		  <li>
          <!-- Search form -->
          <form class="search-form form-inline" role="search">
            <div class="form-group">
              <input type="text" class="form-control" required placeholder="Search">
              
                <button type="submit" class="btn btn-link">
                  <i class="fa fa-search"></i>
                </button>
              
            </div>
          </form></li>
		  </ul>
  <ul class="nav navbar-right ml-auto">
            
          
		  <li class="dropdown text-normal user-profile">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="divUser" class="profile-img"><img src="assets/user2.png"></span>  David </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
							<li><a class="dropdown-item" href="#"><i class="ti-user"></i> Profile</a></li>
							<li><a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a></li>
							<li><a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a></li>
              <li class="dropdown-divider"></li>
						   <li><a class="dropdown-item" routerLink="/login"> <i class="ti-unlock"></i> <span data-i18n="Log Out"> Log Out</span> </a> </li>

                        </ul>
                    </li>
				 
		  </ul>
          
        </div><!-- /.navbar-collapse -->
  </div> 
  <div class="header-base">
    <div class="container">
<div class="box d-flex align-items-center">      
  <ul class="nav navbar-left mr-auto">
     <li><a routerLink="/main/dashboard" routerLinkActive="active"><i class="ti-bar-chart"></i> Dashboard</a></li>
     <li><a routerLink="/main/all" routerLinkActive="active"><i class="ti-layout-media-right-alt"></i> All Projects</a></li>
     <li><a routerLink="/main/mybooks" routerLinkActive="active"><i class="ti-layout-grid2"></i> To Do</a></li>
     <li><a><i class="ti-filter"></i> Recently Changed</a></li> 
      </ul>
 <ul class="nav navbar-right">      
<li><button class="btn btn-primary" type="button" (click)="openModal(template)" *ngIf="!message">Create Book</button>
<div *ngIf="message"  class="onoffswitch" id="myonoffswitch1-switch" (change)="openPanel()">
<input type="checkbox" name="onoffswitch1" id="myonoffswitch1" class="onoffswitch-checkbox">
<label class="onoffswitch-label" for="myonoffswitch1"></label>
</div>
</li>
 </ul>
  </div>
  </div>
  </div>
</header>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>

<app-divpanel *ngIf="toggleopen"></app-divpanel>