 
<div class="row">

<div class="col-md-3">
<div class="gridbox mb-5">
<div class="top"><a> <i class="ti-book"></i>  BP/PRAT-BI18001</a> <a><i class="ti-pencil"></i></a></div>
<div class="middle"><h3><a routerLink="/">21_Content_AT1.docx.docx</a></h3></div>
<div class="bottom">
<a><i class="ti-user"></i>18</a><a><i class="ti-timer"></i>18</a><a><i class="ti-eye"></i>18</a>
</div>
</div>
</div>

<div class="col-md-3">
<div class="gridbox mb-5">
<div class="top"><a> <i class="ti-book"></i>  BP/PRAT-BI18001</a> <a><i class="ti-pencil"></i></a></div>
<div class="middle"><h3><a routerLink="/">21_Content_EE.docx.docx</a></h3></div>
<div class="bottom">
<a><i class="ti-user"></i>18</a><a><i class="ti-timer"></i>18</a><a><i class="ti-eye"></i>18</a>
</div>
</div>
</div>

<div class="col-md-3">
<div class="gridbox mb-5">
<div class="top"><a> <i class="ti-book"></i>  BP/PRAT-BI18001</a> <a><i class="ti-pencil"></i></a></div>
<div class="middle"><h3><a routerLink="/">21_Content_ST1.docx.docx</a></h3></div>
<div class="bottom">
<a><i class="ti-user"></i>18</a><a><i class="ti-timer"></i>18</a><a><i class="ti-eye"></i>18</a>
</div>
</div>
</div>

<div class="col-md-3">
<div class="gridbox mb-5">
<div class="top"><a> <i class="ti-book"></i>  BP/PRAT-BI18001</a> <a><i class="ti-pencil"></i></a></div>
<div class="middle"><h3><a routerLink="/">01_Content_pt1.docx (2).docx</a></h3></div>
<div class="bottom">
<a><i class="ti-user"></i>18</a><a><i class="ti-timer"></i>18</a><a><i class="ti-eye"></i>18</a>
</div>
</div>
</div>

</div>
