<!-- Modal -->
	<div  id="docModal" *ngIf="!toggleopen">
		<div class="divpanel-dialog">
			<div class="divpanel-content">

				<div class="divpanel-header">
					<h4 class="divpanel-title" id="myModalLabel">Left Sidebar</h4>
				</div>

				<div class="divpanel-body">
					<ul class="list-unstyled">
<li><a class="btn btn-default">Chapter Info</a></li><li><a class="btn btn-default">Metadata</a></li><li><a class="btn btn-default">Assignment</a></li>
<li><a class="btn btn-default">Upload</a></li><li><a class="btn btn-default">Download</a></li><li><a class="btn btn-default">Book Info</a></li>
</ul>
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</p>
				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->
	
	